* {
    border-radius: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#canvasutama{
    width: 100%;
    height: auto;
    background-color: rgba(0, 47, 255, 0);
    /*ini adalah canvas utama untuk menampung seluruh elemen html*/
}
#navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ffc000;
    overflow: hidden;
    transition: top 0.5s;
    color:#0e244e;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.header{
    width: 100%;
    height: 650px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../image/mengurus\ anak.png);
    /* ini adalah tempat letaknya background */
    text-align: center;
}
.header h1{
    padding: 360px;
    color:rgb(254, 200, 36);
    text-align: center;
    font-family: Carter One;
}
#logo{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-left: 50px;
    margin-top: 5px;
    position: fixed;
    background-image: url(../image/logo9_13_81242.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: top 0.5s;
    text-align: center;
    letter-spacing: 0.1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
}
.menu div h1{
    display: flexbox;
    background-color: rgba(255, 0, 0, 0);
    width: 35%;
    margin-top: 15px;
    margin-left: 6%;
    letter-spacing: 0.185em;
    font-size: 50px;
}
.menu{
    position: fixed;
    font-size: 20px;
}
.menu{
    font-family: 'Carter One';
    font-weight: bold;
    height: 70px;
    width: 100%;
    background-color: none;
    border-radius: 5px;
    font-size: 23px;
}
label{
    font-size: 20pt;
    color: white;
    margin: 10px;
    padding: 5px;
    float: left;
}
.menu ul {
    margin: 5px;
    padding: 5px;
    background: none;
    display: block;
    float: right;
}

.menu ul li{
    list-style: none;
    display: inline-block;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color:#0e244e;
}
.dropdown div li a{
    color: #ffc000;
}
.menu ul li a:hover{
    display: block;
    color: green;
    background: #222;
    box-shadow: inset 0px 0px 5px #000;
}
.menu ul li .dropdown{
    display: none;
    width: 400px;
    margin-top: -5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu ul li:hover .dropdown{
    display: block;
    background: #222;
    position: absolute;
    padding: 10px;
}
.menu ul li:hover .dropdown li{
    display: block;
}
.menu ul li:hover .dropdown li a{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu ul li:hover .dropdown li a:hover{
    background: #222;
    box-shadow: 0px 0px 5px #000;
}
.dropdown div{
    background-color: #4019868f;
    width: auto;
    height: auto;
}

#content{
    color: #0e244e;
    width: 100%;
    height: 1500px;
    background-color: #ffc824b7;
    background-repeat: no-repeat;
    background-size: 100%;
}
.tempatcard{
    background-color: rgb(220, 172, 45);
    width: 100%;
    height: 1200px;
}
.videoincard{
    margin-left: 120px;
    width: 600px;
    height: auto;
    display: none;
}

.card-left:hover .videoincard{
    margin-left: 120px;
    width: 600px;
    height: auto;
    display: block;
}
.card-right:hover .videoincard{
    margin-left: 120px;
    width: 600px;
    height: auto;
    display: block;
}

.card-left{
    width: 70%;
    height: auto;
    float: left;
    background-color: rgb(255, 216, 112);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
}
.card-right{
    width: 70%;
    height: auto;
    float: right;
    background-color: rgb(255, 216, 112);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;
}
.card-left h3{
    margin-left: 105px;
    font-size: 20px;
}
.card-left ol{
    margin-left: 105px;
}

.card-left button{
    background-color: #ffc000;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.card-right button{
    background-color: #ffc000;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    float: right;
}
.card-left button:hover{
    background-color: #ffc824b7;
}
.card-right button:hover {
    background-color: #ffc824b7;
}



#content h1{
    text-align: left;
    padding-top: 40px;
    padding-left: 10%;
    font-size: 30px;
}
#content p{
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
    text-align: justify;
}
#content div .imgone{
    width: 100%;
    height: auto;
    text-align: center;
    width: auto;
    height: auto;
}
#content .imgone p{
    text-align: center;
}
#info{
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    color: rgba(255, 0, 0, 0);
}
.spanduksnapan{
    width: 50%;
}
.spanduksnapan:hover{
    opacity: 0.8;
}
#info ul li{
    list-style: inside;
    display: inline;
    text-decoration: none;
    padding: 100px;
    
}
#info ul li a{
    text-decoration: none;
    color: white;
}
.sosmed{
    background-color: #f8f9fa;
    padding: 20px;
}
.sosmed img{
    margin-left: 40px;
    border-radius: 10px;
}
.logosnapan:hover{
    opacity: 0.8;
}
.list-right{
    font-size: 15px;
    margin-left: 30px;
}
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* pengaturan untuk tablet */
@media screen and (min-width: 600px) and (max-width: 768px){
    * {
        border-radius: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    #canvasutama{
        width: 100%;
        height: auto;
        background-color: rgba(0, 47, 255, 0);
        /*ini adalah canvas utama untuk menampung seluruh elemen html*/
    }
    #navbar{
        width: 100%;
        height: 80px;
        position: fixed;
        background-color: #ffc000;
        overflow: hidden;
        transition: top 0.5s;
        color:#0e244e;
        font-size: 10px;
        text-align: center;
        letter-spacing: 0.1em;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .header{
        width: 100%;
        height: 330px;
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(../image/background\ 1.png);
        /* ini adalah tempat letaknya background */
        text-align: center;
    }
    .header h1{
        padding: 100px;
        padding-top: 150px;
        color:rgb(254, 200, 36);
        text-align: center;
        font-family: Carter One;
    }
    #logo{
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-left: 20px;
        margin-top: 10px;
        position: fixed;
        background-image: url(../image/logo9_13_81242.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: top 0.5s;
        text-align: center;
        letter-spacing: 0.1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .menu div h1{
        display: flexbox;
        background-color: rgba(255, 0, 0, 0);
        width: 50%;
        margin-top: 20px;
        margin-left: 10%;
        letter-spacing: 0.185em;
        font-size: 20px;
    }
    .menu{
        position: fixed;
        font-size: 10px;
    }
    .menu{
        font-family: 'Carter One';
        font-weight: bold;
        height: 70px;
        width: 100%;
        padding-top: 10px;
        background-color: none;
        border-radius: 5px;
        font-size: 15px;
    }
    label{
        font-size: 20pt;
        color: white;
        margin: 10px;
        padding: 5px;
        float: left;
    }
    .menu ul {
        margin: 5px;
        padding: 5px;
        background: none;
        display: block;
        float: right;
    }
    
    .menu ul li{
        list-style: none;
        display: inline-block;
    }
    
    .menu ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        color:#0e244e;
    }
    .dropdown div li a{
        color:#ffc824;
    }

    .menu ul li a:hover{
        display: block;
        color: green;
        background: #222;
        box-shadow: inset 0px 0px 5px #000;
    }
    .menu ul li .dropdown{
        display: none;
        width: 240px;
        margin-top: -2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .menu ul li:hover .dropdown{
        display: block;
        background: #0e244e;
        position: absolute;
        padding: 10px;
    }
    .menu ul li:hover .dropdown li{
        display: block;
    }
    .menu ul li:hover .dropdown li a{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .menu ul li:hover .dropdown li a:hover{
        background: #222;
        box-shadow: 0px 0px 5px #000;
    }
    .dropdown div{
        background-color: #4019868f;
        width: auto;
        height: auto;
    }
    .menu li a img{
        width: 15px;
        height: 15px;
    }
    
    #content{
        color: #0e244e;
        width: 100%;
        height: 3950px;
        background-color: #ffc824;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #content h1{
        text-align: left;
        padding-top: 40px;
        padding-left: 10%;
        font-size: 18px;
    }
    #content p{
        margin-left: 10%;
        margin-right: 10%;
        text-decoration: none;
        text-align: justify;
    }
    #content div .imgone{
        width: 100%;
        height: auto;
        text-align: center;
        width: auto;
        height: auto;
    }
    .imgone img{
        width: 70%;
    }
    #content .imgone p{
        text-align: center;
    }
    #info{
        width: 100%;
        height: auto;
        background-color: #f8f9fa;
        color: rgba(255, 0, 0, 0);
    }
    .spanduksnapan{
        width: 80%;
    }
    .spanduksnapan:hover{
        opacity: 0.8;
    }
    #info ul li{
        list-style: inside;
        display: inline;
        text-decoration: none;
        padding: 100px;
        
    }
    #info ul li a{
        text-decoration: none;
        color: white;
    }
    .sosmed{
        background-color: #f8f9fa;
        padding: 20px;
    }
    .sosmed img{
        margin-left: 60px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .logosnapan{
        width: 9%;
    }
    .logosnapan:hover{
        opacity: 0.5;
    }
    .card-left button{
        background-color: #ffc000;
        display: block;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }
    .card-right button{
        background-color: #ffc000;
        display: block;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        float: right;
    }
    .card-left p{
        font-size: 15px;
    }
    .card-right p{
        font-size: 15px;
    }
    .card-left{
        width: 70%;
        height: auto;
        float: left;
        background-color: rgb(255, 216, 112);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 20px;
    }
    .card-right{
        width: 70%;
        height: auto;
        float: right;
        background-color: rgb(255, 216, 112);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 20px;
    }
    .tempatcard{
        background-color: rgb(220, 172, 45);
        width: 100%;
        height: 3400px;
    }
    .videoincard{
        margin-left: 120px;
        width: 400px;
        height: auto;
        display: none;
    }
    .card-left:hover .videoincard{
        margin-left: 10px;
        width: 400px;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }
    .card-right:hover .videoincard{
        margin-left: 10px;
        width: 400px;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }
}
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
/* pengaturan untuk hp */
@media screen and (max-width: 600px){
    * {
        border-radius: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    #canvasutama{
        width: 100%;
        height: auto;
        background-color: rgba(0, 47, 255, 0);
        /*ini adalah canvas utama untuk menampung seluruh elemen html*/
    }
    #navbar{
        width: 100%;
        height: 50px;
        position: fixed;
        background-color: #ffc000;
        overflow: hidden;
        transition: top 0.5s;
        color:#0e244e;
        font-size: 5px;
        text-align: center;
        letter-spacing: 0.1em;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
    }
    .header{
        width: 100%;
        height: 220px;
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(../image/mengurus\ anak.png);
        /* ini adalah tempat letaknya background */
        text-align: center;
    }
    .header h1{
        padding: 100px;
        padding-top: 100px;
        color:rgb(254, 200, 36);
        text-align: center;
        font-family: Carter One;
        font-size: 20px;
    }
    #logo{
        width: 35px;
        height: 35px;
        border-radius: 100px;
        margin-left: 2px;
        margin-top: 6px;
        position: fixed;
        background-image: url(../image/logo9_13_81242.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: top 0.5s;
        text-align: center;
        letter-spacing: 0.1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    .menu div h1{
        display: flexbox;
        background-color: rgba(255, 0, 0, 0);
        width: 70%;
        margin-top: 18px;
        margin-left: 6%;
        letter-spacing: 0.185em;
        font-size: 10px;
    }
    .menu{
        position: fixed;
        font-size: 10px;
    }
    .menu{
        font-family: 'Carter One';
        font-weight: bold;
        height: 70px;
        width: 100%;
        padding-top: 1px;
        background-color: none;
        border-radius: 5px;
        font-size: 11px;
    }
    label{
        font-size: 20pt;
        color: white;
        margin: 10px;
        padding: 5px;
        float: left;
    }
    .menu ul {
        margin: 2px;
        padding: 2px;
        background: none;
        display: block;
        float: right;
    }
    .menu ul li{
        list-style: none;
        display: inline-block;
        margin-top: 0px;
        font-size: 10px;
    }
    .menu ul li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        color:rgb(78, 14, 14);
    }
    .dropdown div li a{
        color: #ffc824;
    }
    .menu ul li a:hover{
        display: block;
        color: green;
        background: #222;
        box-shadow: inset 0px 0px 5px #000;
    }
    .menu ul li .dropdown{
        display: none;
        width: 200px;
        margin-top: -1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .menu ul li:hover .dropdown{
        display: block;
        background: green;
        position: absolute;
        padding: 10px;
    }
    .menu ul li:hover .dropdown li{
        display: block;
    }
    .menu ul li:hover .dropdown li a{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .menu ul li:hover .dropdown li a:hover{
        background: #222;
        box-shadow: 0px 0px 5px #000;
    }
    .dropdown div{
        background-color: #0e244e;
        /* must be ganti */
        /* must be ganti */
        /* must be ganti */
        /* must be ganti */
        /* must be ganti */
        width: auto;
        height: auto;
    }
    .menu li a img{
        width: 15px;
        height: 15px;
    }
    
    #content{
        color: #0e244e;
        width: 100%;
        height: 1100px;
        background-color: #ffc824;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #content h1{
        text-align: left;
        padding-top: 40px;
        padding-left: 10%;
        font-size: 13px;
    }
    #content p{
        margin-left: 10%;
        margin-right: 10%;
        text-decoration: none;
        text-align: justify;
        font-size: 10px;
    }
    #content div .imgone{
        width: 100%;
        height: auto;
        text-align: center;
        width: auto;
        height: auto;
    }
    .imgone img{
        width: 30%;
    }
    #content .imgone p{
        text-align: center;
    }
    .spanduksnapan{
        width: 80%;
    }
    .spanduksnapan:hover{
        opacity: 0.8;
    }
    #info ul li a{
        text-decoration: none;
        color: white;
    }
    .sosmed{
        background-color: #f8f9fa;
        padding: 20px;
    }
    .logosnapan{
        margin-left: 40px;
        border-radius: 10px;
        margin-top: 20px;
        width: 7%;
    }
    .logosnapan{
        width: 7%;
    }
    .card-left button{
        background-color: #ffc000;
        display: block;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        font-size: 10px;
    }
    .card-right button{
        background-color: #ffc000;
        display: block;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        float: right;
        font-size: 10px;
    }
    .card-left p{
        font-size: 10px;
    }
    .card-right p{
        font-size: 10px;
    }
    .card-left{
        width: 70%;
        height: auto;
        float: left;
        background-color: rgb(255, 216, 112);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 20px;
    }
    .card-left h3{
        font-size: 10px;
    }
    .card-left ol li{
        font-size: 8px;
    }
    .card-right h3{
        font-size: 10px;
    }
    .card-right ol li{
        font-size: 8px;
    }
    .card-right{
        width: 70%;
        height: auto;
        float: right;
        background-color: rgb(255, 216, 112);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 20px;
    }
    .tempatcard{
        background-color: rgb(220, 172, 45);
        width: 100%;
        height: 1325px;
    }
    .videoincard{
        margin-left: 120px;
        width: 400px;
        height: auto;
        display: none;
    }
    .card-left:hover .videoincard{
        margin-left: 5px;
        width: 200px;
        height: auto;
        display: block;
        margin-bottom: 5px;
    }
    .card-right:hover .videoincard{
        margin-left: 5px;
        width: 200px;
        height: auto;
        display: block;
        margin-bottom: 5px;
    }
}